*.egg-info
.DS_Store
.coverage*
.idea
.notipy.json
.single_run
.vscode/
__pycache__
coverage.xml
*.csv.gz
*.bed.gz
progettobioinf/datasets/*
progettobioinf/genomes/*
progettobioinf/img/*
progettobioinf/tests/img/*
csv/
genomes/
img/
progettobioinf/json/
epigenomes.csv