*.egg-info
.DS_Store
.coverage*
.idea
.notipy.json
.single_run
.vscode/
__pycache__
coverage.xml
*.csv.gz
*.bed.gz
progettobioinf/dataprocessing/datasets/*
progettobioinf/dataprocessing/genomes/*
progettobioinf/dataprocessing/img/*
tests/img/*