keras_mixed_sequence==1.0.9
Boruta==0.3
sanitize_ml_labels==1.0.9
scipy==1.4.1
tqdm==4.46.0
Keras==2.3.1
validate_version_code==1.0.4
barplots==1.1.4
compress_json==1.0.3
ucsc_genomes_downloader==1.1.18
keras_bed_sequence==1.1.1
matplotlib==3.1.3
pandas==1.0.4
epigenomic_dataset==1.1.5
seaborn==0.10.0
tensorflow==1.14.0
minepy==1.2.4
numpy==1.18.5
Pillow==7.1.2
scikit_learn==0.23.1
