barplots==1.1.4
epigenomic_dataset==1.1.6
Boruta==0.3
keras_bed_sequence==1.1.1
matplotlib==3.2.1
sanitize_ml_labels==1.0.9
seaborn==0.10.1
Keras==2.3.1
keras_mixed_sequence==1.0.8
validate_version_code==1.0.4
pandas==1.0.4
ucsc_genomes_downloader==1.1.18
tensorflow==2.5.0
minepy==1.2.4
tqdm==4.46.1
compress_json==1.0.3
scipy==1.4.1
numpy==1.18.5
Pillow==7.1.2
scikit_learn==0.23.1
